  
    	h1 {
    		color:#D03B1B;
    	   }
    	   h2 {
    	   	color:#D03B1B;
    	   }
    	   h3 {
    	   	color:#D03B1B;
    	   }
    	   .intule {
    	   	font-weight: bold;
    	   }
    	   .def {
    	   	font-style: italic;
    	   }
    	  